bin/Debug/net8.0/hms.dll
bin/Debug/net8.0/hms.exe
bin/Debug/net8.0/hms.pdb
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/hms.AssemblyInfo.cs
obj/Debug/net8.0/hms.AssemblyInfoInputs.cache
obj/Debug/net8.0/hms.dll
obj/Debug/net8.0/hms.pdb
obj/Debug/net8.0/hms.sourcelink.json
obj/Debug/net8.0/ref/hms.dll
obj/Debug/net8.0/refint/hms.dll
